<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Javers" verbose="1" parallel="methods" thread-count="3">
    <test name="Javers Diff Test">
        <classes>
            <class name="com.lapots.breed.backend.JaversDiffIntegrationTest"/>
        </classes>
    </test>

    <test name="Javers Mongo Test">
        <classes>
            <class name="com.lapots.breed.backend.JaversMongoIntegrationTest"/>
        </classes>
    </test>

    <test name="Temporary Core Test">
        <classes>
            <class name="com.lapots.breed.backend.service.CharacterStorageServiceIntegrationTest"/>
        </classes>
    </test>
</suite>
